In [ ]:
import panda as pd

In [21]:
ny_file="rowdata/books_uniq_weeks.csv"
good_file="rowdata/goodreads_books.csv"
google_file="rowdata/google_books_1299.csv"

ny_df=pd.read_csv(ny_file, encoding = "ISO-8859-1")
good_df=pd.read_csv(good_file, encoding = "ISO-8859-1")
google_df=pd.read_csv(google_file, encoding = "ISO-8859-1")

In [22]:
ny_pd.head()

,publisher,dagger,book_review_link,author,primary_isbn10,price,primary_isbn13,sunday_review_link,date,first_chapter_link,contributor,title,age_group,weeks_on_list
0,Riverhead,0,https://www.nytimes.com/2015/01/05/books/the-g...,Paula Hawkins,1594634025,0,9.78159E+12,https://www.nytimes.com/2015/02/01/books/revie...,2/19/17,NaN,by Paula Hawkins,THE GIRL ON THE TRAIN,NaN,102
1,Scribner,0,NaN,Anthony Doerr,1501173219,0,9.7815E+12,https://www.nytimes.com/2014/05/11/books/revie...,5/7/17,NaN,by Anthony Doerr,ALL THE LIGHT WE CANNOT SEE,NaN,81
2,Vintage,0,NaN,E L James,525431888,0,9.78053E+12,NaN,3/5/17,NaN,by E. L. James,FIFTY SHADES DARKER,NaN,66
3,St. Martin's,0,NaN,Kristin Hannah,1466850604,0,9.78147E+12,NaN,10/29/17,NaN,by Kristin Hannah,THE NIGHTINGALE,NaN,63
4,Penguin Group,0,https://www.nytimes.com/2009/02/19/books/19mas...,Kathryn Stockett,1440697663,0,9.78144E+12,NaN,4/8/12,NaN,by Kathryn Stockett,THE HELP,NaN,58

In [28]:
good_df.head()

,bookID,title,authors,average_rating,isbn,isbn13,language_code,num_pages,ratings_count,text_reviews_count,publication_date,publisher,Unnamed: 12
0,1,Harry Potter and the Half-Blood Prince (Harry ...,J.K. Rowling/Mary GrandPrÃ©,4.57,439785960,9.78044E+12,eng,652,2095690,27591,9/16/2006,Scholastic Inc.,NaN
1,2,Harry Potter and the Order of the Phoenix (Har...,J.K. Rowling/Mary GrandPrÃ©,4.49,439358078,9.78044E+12,eng,870,2153167,29221,9/1/2004,Scholastic Inc.,NaN
2,4,Harry Potter and the Chamber of Secrets (Harry...,J.K. Rowling,4.42,439554896,9.78044E+12,eng,352,6333,244,11/1/2003,Scholastic,NaN
3,5,Harry Potter and the Prisoner of Azkaban (Harr...,J.K. Rowling/Mary GrandPrÃ©,4.56,043965548X,9.78044E+12,eng,435,2339585,36325,5/1/2004,Scholastic Inc.,NaN
4,8,Harry Potter Boxed Set Books 1-5 (Harry Potte...,J.K. Rowling/Mary GrandPrÃ©,4.78,439682584,9.78044E+12,eng,2690,41428,164,9/13/2004,Scholastic,NaN

In [36]:
good_title=["isbn13","title","authors","publication_date","publisher"]
good_transformed=good_df[good_title]
good_transformed.head()

,isbn13,title,authors,publication_date,publisher
0,9.78044E+12,Harry Potter and the Half-Blood Prince (Harry ...,J.K. Rowling/Mary GrandPrÃ©,9/16/2006,Scholastic Inc.
1,9.78044E+12,Harry Potter and the Order of the Phoenix (Har...,J.K. Rowling/Mary GrandPrÃ©,9/1/2004,Scholastic Inc.
2,9.78044E+12,Harry Potter and the Chamber of Secrets (Harry...,J.K. Rowling,11/1/2003,Scholastic
3,9.78044E+12,Harry Potter and the Prisoner of Azkaban (Harr...,J.K. Rowling/Mary GrandPrÃ©,5/1/2004,Scholastic Inc.
4,9.78044E+12,Harry Potter Boxed Set Books 1-5 (Harry Potte...,J.K. Rowling/Mary GrandPrÃ©,9/13/2004,Scholastic

In [24]:
google_pd.head()

,Unnamed: 0,title,author,rating,voters,price,currency,description,publisher,page_count,generes,ISBN,language,published_date
0,0,Attack on Titan: Volume 13,Hajime Isayama,4.6,428,43.28,SAR,NO SAFE PLACE LEFT At great cost to the Garris...,Kodansha Comics,192.0,none,9.78161E+12,English,31-Jul-14
1,1,Antiques Roadkill: A Trash 'n' Treasures Mystery,Barbara Allan,3.3,23,26.15,SAR,Determined to make a new start in her quaint h...,Kensington Publishing Corp.,288.0,"Fiction , Mystery &amp, Detective , Cozy , Gen...",9.78076E+12,English,1-Jul-07
2,2,The Art of Super Mario Odyssey,Nintendo,3.9,9,133.85,SAR,Take a globetrotting journey all over the worl...,Dark Horse Comics,368.0,"Games &amp, Activities , Video &amp, Electronic",9.78151E+12,English,5-Nov-19
3,3,Getting Away Is Deadly: An Ellie Avery Mystery,Sara Rosett,4.0,10,26.15,SAR,"With swollen feet and swelling belly, pregnant...",Kensington Publishing Corp.,320.0,none,9.78162E+12,English,1-Mar-09
4,4,"The Painted Man (The Demon Cycle, Book 1)",Peter V. Brett,4.5,577,28.54,SAR,The stunning debut fantasy novel from author P...,HarperCollins UK,544.0,"Fiction , Fantasy , Dark Fantasy",9.78001E+12,English,8-Jan-09

In [ ]:
#need to create the DB first
#dataframe.set_index("colname", inplace=True)
connection_string = "postgres:postgres@localhost:5432/customer_db"
engine = create_engine(f'postgresql://{connection_string}')
# Confirm tables
engine.table_names()

In [ ]:
#load frames into data base

# dataframe.to_sql(name='<tablename>', con=engine, if_exists='append', index=True)